*{
  margin: 0;
  padding: 0;
  font-family: "Chewy", system-ui;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image:url(images/Untitled\ design.lol.png);
background-position: center;
background-size: cover;
position: relative;
}
nav{
  display: flex;
  padding: 2% 6%;
  justify-content:space-between;
  align-items: center;
}
nav img{
  width: 150px;
}
.nav-links{
  flex:1;
  text-align: right;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding:8px 12px;
  position: relative;
}
.nav-links ul li a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 30px;
}
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 5px;
  background:greenyellow;
  display: block;
  margin: -5px auto ;
  transition: 0.5s;
}
.nav-links ul li:hover::after{
  width: 100%;
}
.text-box{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.text-box h1{
  font-size:62px ;
font-weight: 500;
margin-bottom: -25px;
}
.text-box h2{
  font-size:62px ;
  font-weight: 500;
}

.text-box p{
  margin: -20px 0 -20px;
  font-size: 20px;
  color: greenyellow;
}
.Download-Button {
  display: inline;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding:16px 34px ;
  font-size: 20px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.Download-Button:hover{
  border: 1px solid greenyellow;
background: greenyellow;
transition: 1s;
}

.Downlolad-section{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
h1{
  font-size: 40px;
  font-weight: 500;
}

p{
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 50px;
color: #000000;
}

.TemperMonkey-button{
  display: inline;
  text-decoration: none;
  color: #000000;
  border: 1px solid #000000;
  padding:16px 34px ;
  font-size: 20px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.TemperMonkey-button:hover{
  border: 1px solid rgb(0, 0, 0);
background: greenyellow;
color: #fff;
transition: 0.2s;
}

.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.Steps{
  flex-basis: 31%;
  background: greenyellow;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}
h3{
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.Steps:hover{
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.About-section{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
.THECODE-section{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.container{
  width: 80%;
  height: 800px;
  padding: 15px;
  background-color: white ;
  margin: 100px auto;
 border-radius: 8px;
 border: 2px solid black;
  
}
.container textarea {
resize: none;
width: 100%;
height: 100%;
border: none;
outline: none;
font-size: 15px;

}

.container textarea::-webkit-scrollbar{
  display: none;
}

.container button {
 margin-top: 25px;
  display: inline;
  text-decoration: none;
  color: #000000;
  border: 1px solid #000000;
  padding:16px 34px ;
  font-size: 20px;
  background: transparent;
  position: relative;
  cursor: pointer; 
}

.container button:hover{
  border: 1px solid greenyellow;
background: greenyellow;
transition: 1s;
}
.TheCode-button {
    display: inline;
    text-decoration: none;
    color: #000000;
    border: 1px solid #000000;
    padding:16px 34px ;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
  }
  
  .TheCode-button:hover{
    border: 1px solid rgb(0, 0, 0);
  background: greenyellow;
  color: #fff;
  transition: 0.2s;
  } 

  .Client{
    display: inline;
    text-decoration: none;
    color: #000000;
    border: 1px solid #000000;
    padding:16px 34px ;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
  }
  
  .Client:hover{
    border: 1px solid rgb(0, 0, 0);
  background: greenyellow;
  color: #fff;
  transition: 0.2s;
  } 
